@use "reset";

@mixin func($hole) {
  font-size: $hole;
  letter-spacing: -1px;
}

@mixin alert($background, $fontColor) {
  width: 500px;
  padding: 10px;
  background-color: $background;
  color: $fontColor;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

@mixin weight($fontWeight) {
  font-weight: $fontWeight;
}

@mixin marginBottom($marginBottom) {
  margin-bottom: $marginBottom;
}

@mixin row() {
  width: auto;
  margin-bottom: 10px;
}

@mixin widthcol($widthValue) {
  width: $widthValue;
  background-color: #e6e2eb;
  border: 0.5px solid gray;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

%box {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.box-red {
  @extend %box;
  background-color: red;
}

.box-green {
  @extend %box;
  background-color: green;
}

.box-blue {
  @extend %box;
  background-color: blue;
}

h2 {
  @include func(20px);
}

h3 {
  @include func(12px);
}

h4 {
  font-size: 10px;
  letter-spacing: -1px;
}

.list-box {
  margin-bottom: 50px;
  li {
    border: 1px solid #eee;
    padding: 15px;
    width: 300px;
  }
  .active {
    background-color: dodgerblue;
    color: white;
  }
  > li:first-child:hover {
    background-color: skyblue;
  }
}

.alert-wrap {
  margin-bottom: 50px;
  p {
    display: inline-block;
  }

  .alert-box1 {
    @include alert(#dff0d8, green);
    @include marginBottom(20px);
  }
  .alert-first::first-line {
    @include weight(800);
  }

  .alert-box2 {
    @include alert(#d9edf7, dodgerblue);
    @include marginBottom(20px);
  }
  .alert-second::first-line {
    @include weight(800);
  }

  .alert-box3 {
    @include alert(beige, brown);
    @include marginBottom(20px);
  }
  .alert-third::first-line {
    @include weight(800);
  }
}

.row {
  @include row();
  .col-6 {
    @include widthcol(50%);
  }
  .col-4 {
    @include widthcol(33.33%);
  }
  .col-3 {
    @include widthcol(25%);
  }
  .col-2 {
    @include widthcol(60%);
  }
}
