@import "reset.css";

body {
  margin: 0;
  height: 100vh;
}

img {
  width: 60px;
  height: 60px;
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 1px solid darkblue;
}

h3 {
  text-align: center;
}

.money {
  color: red;
}

.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;

  margin: auto;
  background-color: white;
  border-radius: 10px;
  border-collapse: collapse;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

.cell-long {
  width: 700px;
}

.btn-box {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.btn-box {
  margin-top: 25px;
  text-align: right;
}
.buy {
  padding: 15px;
  background-color: tomato;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}

.buy:hover {
  color: aquamarine;
  text-decoration: underline;
}
